body{
    
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
 }

 header{
    color: rgb(255, 0, 64);
    margin-top: 20px;
    text-align: center;

 }

 .timer{
    display: grid;
    grid-auto-flow: column;
 }

 